body {
  background-color: rgb(51, 52, 51);
  font-family:Arial;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}
.box {
  width:300px;
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.2);
  text-align:center;
}
h2 { color:red; }
input[type=text] {
  width:70%;
  padding:8px;
  border:1px solid white;
  border-radius:5px;
  background-color: antiquewhite;
}
button {
  padding:8px 12px;
  background:green;
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
}
ul { text-align:left; padding:0; }
li { list-style:none; padding:5px 0; }
